
.search-field {
    text-align: center;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}